version: '3'
services:
  postgres:
    image: postgres:14.1-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=artifice-db
    ports:
      - 5432:5432
    volumes:
      - .artifice-db:/var/lib/postgresql/data
